<script>
    Diy.Editor.defaultData.navicon = {
        style: {
            background: '#FFFFFF',
            vertical_padding: '10px',
            horizontal_padding: '10px',
            row_number: 5,
        },
        data: [
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_1.png',
                text: '女神服饰',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_2.png',
                text: '品质男装',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_3.png',
                text: '母婴专区',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_4.png',
                text: '鞋帽箱包',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_5.png',
                text: '海外精品',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_6.png',
                text: '美妆护肤',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_7.png',
                text: '图书商城',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_8.png',
                text: '生活用品',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_9.png',
                text: '商城超市',
                color: '#666666',
                link: '',
            },
            {
                imgurl: '{MODULE_URL}static/web/diy/img/cateroty_10.png',
                text: '全部分类',
                color: '#666666',
                link: '',
            },
        ]
    };
</script>
<script type="text/template" class="editor_params" data-name="navicon">
    <div class="editor-navicon">
        <div class="form-group">
            <div class="col-sm-2 control-label text-right">背景</div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <input type="color" class="form-control input-sm input_color input_binding" value="<%= style.background %>" data-type="style" data-key="background" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="btn btn-default input-group-addon" onclick="$(this).prev().val('#FFFFFF').trigger('change')">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label text-right">上下边距</div>
            <div class="col-sm-5">
                <input type="hidden" value="<%= style.vertical_padding %>" data-type="style" data-key="vertical_padding">
                <div class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-value="<%= style.vertical_padding %>" data-unit="px" data-min="0" data-max="30" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <div class="col-sm-2 slider_counter">
                <small class="text-muted"><%= style.vertical_padding %></small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label text-right">左右边距</div>
            <div class="col-sm-5">
                <input type="hidden" value="<%= style.horizontal_padding %>" data-type="style" data-key="horizontal_padding">
                <div class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-value="<%= style.horizontal_padding %>" data-unit="px" data-min="0" data-max="30" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <div class="col-sm-2 slider_counter">
                <small class="text-muted"><%= style.horizontal_padding %></small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label text-right">每行数量</div>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="row_number" class="input_binding" value="2" data-type="style" data-key="row_number" data-name="<%= name %>" data-guid="<%= guid %>" <% if(style.row_number==2){ %>checked<% } %>> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="row_number" class="input_binding" value="3" data-type="style" data-key="row_number" data-name="<%= name %>" data-guid="<%= guid %>" <% if(style.row_number==3){ %>checked<% } %>> 3
                </label>
                <label class="radio-inline">
                    <input type="radio" name="row_number" class="input_binding" value="4" data-type="style" data-key="row_number" data-name="<%= name %>" data-guid="<%= guid %>" <% if(style.row_number==4){ %>checked<% } %>> 4
                </label>
                <label class="radio-inline">
                    <input type="radio" name="row_number" class="input_binding" value="5" data-type="style" data-key="row_number" data-name="<%= name %>" data-guid="<%= guid %>" <% if(style.row_number==5){ %>checked<% } %>> 5
                </label>
            </div>
        </div>
        <hr/>
        <div class="form-group ui-sortable ep-item-sortable">
            <% _.each(data, function(item) { %>
            <div class="navicon-item ep-item">
                <div class="navicon-image">
                    <img src="<%= item.imgurl %>" data-type="data" data-key="imgurl" data-name="<%= name %>" data-guid="<%= guid %>"/>
                    <div class="ep-select-image">更换</div>
                </div>
                <div class="navicon-params">
                    <div class="input-group">
                        <span class="input-group-addon ep-input-lable">文字</span>
                        <input type="text" class="form-control input-sm input_binding" value="<%= item.text %>" data-type="data" data-key="text" data-name="<%= name %>" data-guid="<%= guid %>" style="width:80%;">
                        <input type="color" class="form-control input-sm input_color input_binding" value="<%= item.color %>" data-type="data" data-key="color" data-name="<%= name %>" data-guid="<%= guid %>" style="width:20%;">
                        <span class="input-group-addon btn btn-default" onclick="$(this).prev().val('#666666').trigger('change')">
                            <i class="fa fa-remove"></i>
                        </span>
                    </div>
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon ep-input-lable">链接</span>
                        <input type="text" class="form-control input-sm input_binding" value="<%= item.link %>" data-type="data" data-key="link" data-name="<%= name %>" data-guid="<%= guid %>" placeholder="链接以http://或https://开头"/>
                    </div>
                </div>
                <span class="ep-item-delete fa fa-times-circle" data-name="<%= name %>" data-guid="<%= guid %>" data-item-min="1"></span>
            </div>
            <% }); %>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-default btn-block ep-item-add" type="button" data-name="<%= name %>" data-guid="<%= guid %>">
                <i class="fa fa-plus-circle"></i> 新增分类
            </button>
        </div>
    </div>
</script>