<script type="text/template" id="tpl_block_navicon">
    <div id="<%= guid %>" class="block" data-name="<%= name %>" data-guid="<%= guid %>">
        <div class="block_content navicon_block" style="background: <%= style.background %>;padding: <%= style.vertical_padding %> <%= style.horizontal_padding %>;border-radius:<%= style.wrap_radius %>;">
            <% _.each(data, function(item) { %>
            <div class="diy-col <% if(style.row_number==2){ %>diy-col-50<% }else if(style.row_number==3){ %>diy-col-33<% }else if(style.row_number==4){ %>diy-col-25<% }else if(style.row_number==5){ %>diy-col-20<% } %>">
                <div class="icon">
                    <img src="<%= item.imgurl %>" style="height:<%= style.icon_size %>;"/>
                </div>
                <div class="text" style="color:<%= item.color %>;">
                    <%= item.text %>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="block_btn text-right">
            <div class="delete" data-id="<%= guid %>">删除</div>
        </div>
    </div>
</script>
<script type="text/template" id="tpl_block_navicon_item">
    <div class="navicon-item ep-item">
        <div class="navicon-image">
            <img src="<%= data[0].imgurl %>" data-type="data" data-key="imgurl" data-name="<%= name %>" data-guid="<%= guid %>"/>
            <div class="ep-select-image">更换</div>
        </div>
        <div class="navicon-params">
            <div class="input-group">
                <span class="input-group-addon">文字</span>
                <input type="text" class="form-control input-sm input_binding" value="<%= data[0].text %>" data-type="data" data-key="text" data-name="<%= name %>" data-guid="<%= guid %>" style="width:80%;">
                <input type="color" class="form-control input-sm input_color input_binding" value="<%= data[0].color %>" data-type="data" data-key="color" data-name="<%= name %>" data-guid="<%= guid %>" style="width:20%;">
                <span class="input-group-addon btn btn-default" onclick="$(this).prev().val('#3D4145').trigger('change')">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
            <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon">链接</span>
                <input type="text" class="form-control input-sm input_binding" value="<%= data[0].link %>" data-type="data" data-key="link" data-name="<%= name %>" data-guid="<%= guid %>" placeholder="链接以http://或https://开头"/>
				<span class="input-group-addon" style="cursor:pointer;" onclick="$('#lookLink').modal();">查看链接</span>
            </div>
        </div>
        <span class="ep-item-delete fa fa-times-circle" data-name="<%= name %>" data-guid="<%= guid %>" data-item-min="1"></span>
    </div>
</script>