<script type="text/template" id="tpl_block_swiper">
    <div id="<%= guid %>" class="block" data-name="<%= name %>" data-guid="<%= guid %>">
        <div class="block_content swiper_block"  style="background:<%= style.background %>;padding: <%= style.vertical_padding %> <%= style.horizontal_padding %>;">
            <% if(data[0]){ %>
			<img src="<%= data[0].imgurl %>" data-type="data" data-key="imgurl" data-name="<%= name %>" data-guid="<%= guid %>" style="border-radius:<%= style.image_radius %>;box-shadow: <%= style.offset_x %> <%= style.offset_y %> <%= style.blur_radius %> <%= style.spread_radius %> rgba(0, 0, 0, 0.2);" />
			<% } %>
        </div>
        <div class="block_btn text-right">
            <div class="delete" data-id="<%= guid %>">删除</div>
        </div>
    </div>
</script>
<script type="text/template" id="tpl_block_swiper_item">
    <div class="swiper-item ep-item">
        <div class="swiper-image">
            <img src="<%= data[0].imgurl %>" data-type="data" data-key="imgurl" data-name="<%= name %>" data-guid="<%= guid %>"/>
        </div>
        <div class="swiper-params">
            <div class="input-group" style="margin-bottom: .8rem">
                <input type="text" class="form-control input-sm" value="<%= data[0].imgsrc %>" data-type="data" data-key="imgsrc" data-name="<%= name %>" data-guid="<%= guid %>" readonly>
                <span class="input-group-addon btn btn-default ep-select-image">选择图片</span>
            </div>
            <div class="input-group">
				<span class="input-group-addon">(选填)</span>
                <input type="text" class="form-control input-sm input_binding" value="" placeholder="跳转链接以http://或https://开头" data-type="data" data-key="link" data-name="<%= name %>" data-guid="<%= guid %>"/>
				<span class="input-group-addon hide"></span>
            </div>
        </div>
        <span class="ep-item-delete fa fa-times-circle" data-name="<%= name %>" data-guid="<%= guid %>" data-item-min="1"></span>
    </div>
</script>