<style type="text/css">
.table-form>tbody>tr>td{height:40px; padding:5px 15px;}
</style>
<div class="main">
	<table class="table we7-table table-hover table-form">
		<colgroup>
			<col width="160px">
			<col width="800px">
		</colgroup>
		<tbody>
			<tr>
				<th class="text-left" colspan="3">订单详情</th>
			</tr>
			<tr>
				<td class="table-label">订单编号</td>
				<td class="ng-binding">{$order['ordersn']} {if $order['deleted']}【回收站订单】{/if}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">订单状态</td>
				<td class="ng-binding">
					{if $order['status'] == 0}
						<span class="label label-danger">待付款</span>
						<a class="btn btn-success btn-sm btn-payment" style="margin-left:8px;padding:4px 10px;" data-toggle="tooltip" data-placement="bottom" data-original-title="确认付款后，订单状态将变待发货">确认付款</a>
					{/if}
					{if $order['status'] == 1}
						<span class="label label-warning">待发货</span>
						{if !$order['is_virtual']}
						<a class="btn btn-primary btn-sm" style="margin-left:8px;padding:4px 10px;" onclick='deliverGoods(0,{$order[id]})'>开始发货</a>
						{/if}
					{/if}
					{if $order['status'] == 2}
						<span class="label label-primary">待收货</span>
						{if !$order['is_virtual']}
						<a class="btn btn-warning btn-sm" style="margin-left:8px;padding:4px 10px;" onclick='deliverGoods({php echo $order[express_info] ? $order[express_info] : "0"},{$order[id]})'>更改物流</a>
						{/if}
					{/if}
					{if $order['status'] == 3}<span class="label label-success">已完成</span>{/if}
					{if $order['status'] == -1}<span class="label label-default">已取消</span>{/if}
					{if $order['status'] == -2}
						<span class="label label-info">退款中</span>
						<a href="{php echo $this->createWebUrl('order', array('op'=>refund,'id'=>$id));}" class="btn btn-warning btn-sm" style="margin-left:8px;padding:4px 10px;" target="_blank">处理退款</a>
					{/if}
					{if $order['status'] == -3}
						<span class="label label-default">已退款</span>
						<a href="{php echo $this->createWebUrl('order', array('op'=>refund,'id'=>$id));}" class="btn btn-warning btn-sm" style="margin-left:8px;padding:4px 10px;" target="_blank">退款详情</a>
					{/if}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">下单时间</td>
				<td class="ng-binding">{php echo date('Y-m-d H:i:s', $order['addtime'])}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{if $order['paytime']}
			<tr>
				<td class="table-label">付款时间</td>
				<td class="ng-binding">{php echo date('Y-m-d H:i:s', $order['paytime'])}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $order['deliver_time']}
			<tr>
				<td class="table-label">发货时间</td>
				<td class="ng-binding">{php echo date('Y-m-d H:i:s', $order['deliver_time'])}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $order['finish_time']}
			<tr>
				<td class="table-label">确认收货时间</td>
				<td class="ng-binding">{php echo date('Y-m-d H:i:s', $order['finish_time'])}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{elseif $order['auto_finish_time']}
			<tr>
				<td class="table-label">预计自动完成时间</td>
				<td class="ng-binding">
					{php echo date('Y-m-d H:i:s', $order['auto_finish_time'])}
					<a href="javascript:;" class="btn btn-primary btn-sm btn-add-finish-time" style="margin-left:8px;padding:4px 10px;">延长收货时间</a>
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $order['paytype']}
			<tr>
				<td class="table-label">支付方式</td>
				<td class="ng-binding">{$paytype_list[$order['paytype']]}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $pay_log['uniontid']}
			<tr>
				<td class="table-label">商户支付订单号</td>
				<td class="ng-binding">{$pay_log['uniontid']}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $pay_log['transaction']['transaction_id']}
			<tr>
				<td class="table-label">微信支付单号</td>
				<td class="ng-binding">{$pay_log['transaction']['transaction_id']}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			<tr>
				<td class="table-label">买家信息</td>
				<td class="ng-binding">
					uid: {$order['uid']}，昵称: {$buyer['nickname']}，姓名: {$buyer['realname']}，手机: {$buyer['mobile']}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">配送方式</td>
				<td class="ng-binding">{php echo $order['is_virtual'] ? '虚拟商品，无需物流' : $order['shipping']}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">收货人信息</td>
				<td class="ng-binding">
					姓名：{$order['receive_name']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机：{$order['receive_mobile']}<br/>
					地址：{$order['address']}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">订单备注</td>
				<td class="ng-binding">{$order['remark']}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{if $order['is_virtual']}
			<tr>
				<td class="table-label">卡密信息</td>
				<td class="ng-binding">
					{$goods_list[0]['virtual_text']}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
		</tbody>
	</table>

	{if $order['status'] > 1 && $express_info}
	<table class="table we7-table table-hover table-form">
		<colgroup>
			<col width="160px">
			<col width="800px">
		</colgroup>
		<tbody>
			<tr>
				<th class="text-left" colspan="3">物流信息</th>
			</tr>
			{loop $express_info $k=>$v}
			<tr>
				<td class="table-label">快递公司{php echo $k+1;}</td>
				<td class="ng-binding">{$v['express_title']}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">物流单号{php echo $k+1;}</td>
				<td class="ng-binding">{$v['express_no']} <a data-express_code="{$v['express_code']}" data-express_no="{$v['express_no']}" class="btn-warning label express-details" style="margin-left:8px;padding:4px 10px;">点击查看物流</a></td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">物流备注{php echo $k+1;}</td>
				<td class="ng-binding">{$v['express_remark']}</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/loop}
		</tbody>
	</table>
	{/if}

	{if $member1 || $member2 || $member3}
	<table class="table we7-table table-hover table-form">
		<colgroup>
			<col width="160px">
			<col width="800px">
		</colgroup>
		<tbody>
			<tr>
				<th class="text-left" colspan="3">佣金信息</th>
			</tr>
			{if $member1}
			<tr>
				<td class="table-label">一级佣金</td>
				<td class="ng-binding">{$order['commission1']} 元</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">一级推荐人</td>
				<td class="ng-binding">
					uid: {$order['member1']}，昵称: {$member1['nickname']}，姓名: {$member1['realname']}，手机: {$member1['mobile']}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $member2}
			<tr>
				<td class="table-label">二级佣金</td>
				<td class="ng-binding">{$order['commission2']} 元</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">二级推荐人</td>
				<td class="ng-binding">
					uid: {$order['member2']}，昵称: {$member2['nickname']}，姓名: {$member2['realname']}，手机: {$member2['mobile']}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
			{if $member3}
			<tr>
				<td class="table-label">三级佣金</td>
				<td class="ng-binding">{$order['commission3']} 元</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			<tr>
				<td class="table-label">三级推荐人</td>
				<td class="ng-binding">
					uid: {$order['member3']}，昵称: {$member3['nickname']}，姓名: {$member3['realname']}，手机: {$member3['mobile']}
				</td>
				<td class="text-right"><div class="link-group"><a href="javascript:;"></a></div></td>
			</tr>
			{/if}
		</tbody>
	</table>
	{/if}

	<div class="order-goods">
		<div class="goods-list ">
			<table class="tb-void tb-order">
				<colgroup>
					<col class="gray">
					<col class="col-goods">
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col class="gray">
				</colgroup>
				<thead>
					<tr>
						<th class="gray"></th>
						<th>商品</th>
						<th>销售价</th>
						<th>数量</th>
						<th>实收金额</th>
						<th>兑换积分</th>
						<th>一级佣金</th>
						<th>二级佣金</th>
						<th>三级佣金</th>
						<th class="gray"></th>
					</tr>
				</thead>
				<tbody>
					{loop $goods_list $item}
					<tr class="first-tr">
						<td class="gray"></td>
						<td>
							<div class="goods-item">
								<div class="goods-image">
									<img src="{$_W['attachurl']}{$item['cover']}" title="商品图" width="60" height="60">
								</div>
								<div class="goods-info">
									<div class="goods-title">{$item['title']}</div>
									<div class="clear"></div>
									<div class="goods-sku">
										{if $item['sku_name']}
											规格：{$item['sku_name']}
										{/if}
									</div>
								</div>
							</div>
						</td>
						<td>¥{$item['price']}</td>
						<td>x {$item['total']}</td>
						<td>{php echo round($item['price'] * $item['total'], 2);}</td>
						<td>{$item['integral']} 积分</td>
						<td>¥{$item['commission1']}</td>
						<td>¥{$item['commission2']}</td>
						<td>¥{$item['commission3']}</td>
						<td class="gray"></td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		<div class="goods-total">
			<ul>
				<li>
					<span class="item-name">商品总额：</span>
					<span class="item-amount">¥{$order['price']}</span>
				</li>
				<li>
					<span class="item-name">兑换积分：</span>
					<span class="item-amount">{$order['integral']} 积分</span>
				</li>
				<li>
					<span class="item-name">运费：</span>
					<span class="item-amount">¥{$order['express_price']}</span>
				</li>
				<li class="color-e4393c">
					<span class="item-name">实付款：</span>
					<span class="item-amount count">	
						{if ($order['price'] > 0 || $order['express_price'] > 0) && !$order['integral']}
							¥{php echo $order['price']+$order['express_price']}
						{elseif ($order['price'] == 0 && $order['express_price'] == 0) && $order['integral']}
							{$order['integral']} 积分
						{elseif ($order['price'] > 0 || $order['express_price'] > 0) && $order['integral']}
							¥{php echo $order['price']+$order['express_price']}+{$order['integral']} 积分
						{/if}
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-group col-sm-12" style="margin-top:20px;">
		<input type="button" onclick="javascript:window.history.back(-1);" value="返回列表" class="btn btn-primary col-lg-1">
	</div>
</div>

<!-- 发货信息 -->
<div class="modal fade" id="deliveryModal" tabindex="-1">
	<form id="deliveryForm" action="{php echo $this->createWebUrl('order',array('op'=>'delivery'))}" class="form-horizontal" method="post">
		<div class="we7-modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<div class="modal-title">发货设置</div>
				</div>
				<div class="alert alert-info">
					如果您的订单分多个包裹发出，您可以同时添加多个快递物流信息。
				</div>
				<div class="modal-body" style="padding-top: 0;">
					<div class="panel-body" id="express_list" style="height:400px;overflow-y:auto;">
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="token" value="{$_W['token']}">
					<input type="hidden" name="orderid" value="{$id}">
					<button type="button" class="btn btn-primary" id="btn-deliver">提交</button>
					<a class="btn btn-default" onclick="appendExpress();">继续添加物流</a>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- 物流跟踪详情 -->
<div class="modal fade" id="modalExpressDetails" tabindex="-1">
	<form class="form-horizontal">
		<div class="we7-modal-dialog modal-dialog">
			<div class="modal-content" style="width:900px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<div class="modal-title">物流详情</div>
				</div>
				<div class="modal-body" style="padding-bottom:0;">
					<div class="panel-body">
						<ul class="express-status-list">
							<div style="text-align:center;">正在加载中...</div>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" id="express_code" value="">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</form>
</div>


<script type="text/javascript">
	//快递物流详情
	$(".express-details").click(function(){
		var chtml = '';
		$("#modalExpressDetails").modal();
		$('.express-status-list').html('<div style="text-align:center;">正在加载中...</div>');

		var express_code = $(this).data('express_code');
		var express_no = $(this).data('express_no');

		$.ajax({
			type: "POST",
			url: "{php echo $this->createWebUrl('express', array('op'=>'getProcess','mobile'=>$order['receive_mobile']))}",
			data: {express_code:express_code,express_no:express_no},
			dataType:"json",
			success: function(data){
				if(data.status == 0){
					var jsonData = data.result.list;
					if(jsonData.length <= 0){
						return false;
					}
					for(var j=0; j<jsonData.length; j++){
						chtml += '<li>';
						chtml += '	<span class="date">' + jsonData[j].time + '</span>';
						chtml += '	<span class="text">' + jsonData[j].status + '</span>';
						chtml += '</li>';
					}
					$('.express-status-list').html(chtml).addClass('has');
				}else{
					$('.express-status-list').html(data.msg);
				}
			},
			error: function(error){
				util.message("网络请求超时，请稍后重试", "", "error");
			}
		});
	})

	//确认付款
	$(".btn-payment").click(function(){
		util.confirm(function () {
			$.ajax({
				type: "POST",
				url: "{php echo $this->createWebUrl('order', array('op'=>'confirmpay','id'=>$id))}",
				data: {},
				dataType:"json",
				success: function(res){
					if(res.code==0){
						setTimeout(function(){
							location.reload();
						},2000)
						util.message(res.message, "", "success");
					}else{
						util.message(res.message, "", "error");
					}
				},
				error: function(error){
					util.message("网络请求超时，请稍后重试", "", "error");
				}
			});
		}, function () {

		}, '确认付款吗?');
	})
	
	//延长收货时间
	$(".btn-add-finish-time").click(function(){
		util.confirm(function () {
			$.ajax({
				type: "POST",
				url: "{php echo $this->createWebUrl('order', array('op'=>'addFinishTime','id'=>$id))}",
				data: {},
				dataType:"json",
				success: function(res){
					if(res.code==0){
						setTimeout(function(){
							location.reload();
						},2000)
						util.message(res.message, "", "success");
					}else{
						util.message(res.message, "", "error");
					}
				},
				error: function(error){
					util.message("网络请求超时，请稍后重试", "", "error");
				}
			});
		}, function () {

		}, '确认延长3天自动收货时间?');
	})


	//发货设置
	var express_list = {php echo json_encode($express_list)};
	var express_number = 0;
	function deliverGoods(express, orderid){
		if(express){
			if(express.length > 0){
				loopExpress(express);
				$("#express_list").scrollTop(10000);
			}else{
				appendExpress();
			}
		}else{
			appendExpress();	
		}
		$("#deliveryModal").modal();
		$("input[name=orderid]").val(orderid);
	}

	function appendExpress(){
		express_number++;

		var chtml = '';
			chtml = '<div class="express_info">';
			chtml += '	<div class="form-group">';
			chtml += '		<label class="col-xs-12 col-sm-3 col-md-2 control-label color-f2270c">* 快递公司' + express_number + '</label>';
			chtml += '		<div class="col-xs-10 col-sm-8">';
			chtml += '			<select class="form-control" name="express_code[]">';
			chtml += '				<option value="" selected>请选择...</option>';
			for(var j=0; j<express_list.length; j++){
				chtml += '			<option value="' + express_list[j].code + '">' + express_list[j].name + '</option>';
			}
			chtml += '			</select>';
			chtml += '			<a class="btn btn-default btn-sm hand btn-express-delete" onclick="removeExpress(this);"><i class="fa fa-times"></i></a>';
			chtml += '		</div>';
			chtml += '	</div>';
			chtml += '	<div class="form-group">';
			chtml += '		<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="red-bold">*</span> 物流单号' + express_number + '</label>';
			chtml += '		<div class="col-xs-10 col-sm-8">';
			chtml += '			<input type="text" name="express_no[]" class="form-control" value="">';
			chtml += '		</div>';
			chtml += '	</div>';
			chtml += '	<div class="form-group">';
			chtml += '		<label class="col-xs-12 col-sm-3 col-md-2 control-label">物流备注' + express_number + '</label>';
			chtml += '		<div class="col-xs-10 col-sm-8">';
			chtml += '			<input type="text" name="express_remark[]" class="form-control" value="" placeholder="备注包裹的商品信息">';
			chtml += '		</div>';
			chtml += '	</div>';
			chtml += '</div>';
			
			$("#express_list").append(chtml);
			$("#express_list").scrollTop(10000);
	}

	function loopExpress(express){
		for(var j=0; j<express.length; j++){
			express_number++;

			var chtml = '';
				chtml = '<div class="express_info">';
				chtml += '	<div class="form-group">';
				chtml += '		<label class="col-xs-12 col-sm-3 col-md-2 control-label color-f2270c">* 快递公司' + express_number + '</label>';
				chtml += '		<div class="col-xs-10 col-sm-8" style="position: relative;">';
				chtml += '			<select class="form-control" name="express_code[]">';
				chtml += '				<option value="" selected>请选择...</option>';
				for(var k=0; k<express_list.length; k++){
					var selected = '';
					if(express[j].express_code == express_list[k].code){
						selected = 'selected';
					}
					chtml += '			<option value="' + express_list[k].code + '"' + selected + '>' + express_list[k].name + '</option>';
				}
				chtml += '			</select>';
				chtml += '			<a class="btn btn-default btn-sm hand btn-express-delete" onclick="removeExpress(this);"><i class="fa fa-times"></i></a>';
				chtml += '		</div>';
				chtml += '	</div>';
				chtml += '	<div class="form-group">';
				chtml += '		<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="red-bold">*</span> 物流单号' + express_number + '</label>';
				chtml += '		<div class="col-xs-10 col-sm-8">';
				chtml += '			<input type="text" name="express_no[]" class="form-control" value="' + express[j].express_no + '">';
				chtml += '		</div>';
				chtml += '	</div>';
				chtml += '	<div class="form-group">';
				chtml += '		<label class="col-xs-12 col-sm-3 col-md-2 control-label">物流备注' + express_number + '</label>';
				chtml += '		<div class="col-xs-10 col-sm-8">';
				chtml += '			<input type="text" name="express_remark[]" class="form-control" value="' + express[j].express_remark + '" placeholder="备注包裹的商品信息">';
				chtml += '		</div>';
				chtml += '	</div>';
				chtml += '</div>';

				$("#express_list").append(chtml);
		}
	}

	function removeExpress(obj){
		$(obj).parent().parent().parent().remove();
	}

	$("#btn-deliver").click(function(){
		var status = true;
		var selects = $("#express_list").find("select");
		selects.each(function(){
			if($(this).val() == ''){
				status = false;
				util.message("请选择快递公司");
				return false;
			}
		})

		if(!status){
			return false;
		}

		var inputs = $("#express_list").find("input");
		inputs.each(function(){
			var key_name = $(this).attr("name");
			if(key_name == 'express_no[]' && $(this).val() == ''){
				status = false;
				util.message("请填写物流单号");
				return false;
			}
		})
		
		if(status){
			$("#deliveryForm").submit();
		}
	})
</script>