.search_block {

}
.search_block .search_inner {
    clear: both;
    height: 38px;
    overflow: hidden;
}
.search_block .search_icon {
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    text-align: center;
}
.search_block .search_icon .fa-search {
    margin: 0;
    float: none !important;
}
.search_block .search_input {
	position: relative;
    height: 38px;
    line-height: 38px;
	margin-left: 38px;
}
.search_block .search_input .search-btn{
	position: absolute;
    top: 3px;
    right: 6px;
    background-color: #eee;
    color: #333;
    padding: 0px 15px;
    border-radius: 25px;
    line-height: 32px;
}