<script type="text/template" class="editor_params" data-name="page">
    <div class="editor-page">
        <div class="form-group">
            <div class="col-sm-2 control-label text-right"><span class="star" style="color: red;">* </span>模板名称</div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm input_binding" value="<%= page_title %>" data-type="style" data-key="page_title" data-name="<%= name %>" data-guid="<%= guid %>" placeholder="请输入模板名称，可以区分多个模板" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}">
            </div>
        </div>
		<?php if($page_type == 2){ ?>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">分享描述</div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm input_binding" value="<%= page_desc %>" data-type="style" data-key="page_desc" data-name="<%= name %>" data-guid="<%= guid %>" placeholder="公众号里分享页面时的自定义描述" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}">
            </div>
        </div>
		<?php } ?>
    </div>
</script>