<script>
    Diy.Editor.defaultData.selfcredit = {
        style: {
			show_background: 0,
            background: '#FFFFFF',
			bg_radius: '10px',
            vertical_padding: '0px',
            horizontal_padding: '15px',
			left_border_color: '#e4e5ea',
			show_credit1: 1,
			show_credit2: 1,
			show_coupon: 1,
        },
    };
</script>
<script type="text/template" class="editor_params" data-name="selfcredit">
    <div class="editor-selfcredit">
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">背景色选择</div>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="show_background" class="input_binding self_credit_show_background" value="0" data-type="style" data-key="show_background" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_background!=1){ %>checked<% } %>> 无背景色
                </label>
                <label class="radio-inline">
                    <input type="radio" name="show_background" class="input_binding self_credit_show_background" value="1" data-type="style" data-key="show_background" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_background==1){ %>checked<% } %>> 有背景颜色
                </label>
            </div>
        </div>
        <div class="form-group" style="display:<% if(style.show_background==1){ %>block<% }else{ %>none<% } %>;">
            <div class="col-sm-2 control-label text-right">背景色</div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <input type="color" class="form-control input-sm input_color input_binding" value="<%= style.background %>" data-type="style" data-key="background" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="btn btn-default input-group-addon" onclick="$(this).prev().val('#FFFFFF').trigger('change')">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">背景图圆角</div>
            <div class="col-sm-4">
                <input type="hidden" value="<%= style.bg_radius %>" data-type="style" data-key="bg_radius">
                <div class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-value="<%= style.bg_radius %>" data-unit="px" data-min="1" data-max="50" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <div class="col-sm-2 slider_counter">
                <small class="text-muted"><%= style.bg_radius %></small>
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">上下边距</div>
            <div class="col-sm-4">
                <input type="hidden" value="<%= style.vertical_padding %>" data-type="style" data-key="vertical_padding">
                <div class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-value="<%= style.vertical_padding %>" data-unit="px" data-min="0" data-max="30" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <div class="col-sm-2 slider_counter">
                <small class="text-muted"><%= style.vertical_padding %></small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label text-right">左右边距</div>
            <div class="col-sm-4">
                <input type="hidden" value="<%= style.horizontal_padding %>" data-type="style" data-key="horizontal_padding">
                <div class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-value="<%= style.horizontal_padding %>" data-unit="px" data-min="0" data-max="30" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <div class="col-sm-2 slider_counter">
                <small class="text-muted"><%= style.horizontal_padding %></small>
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">左侧竖线颜色</div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <input type="color" class="form-control input-sm input_color input_binding" value="<%= style.left_border_color %>" data-type="style" data-key="left_border_color" data-name="<%= name %>" data-guid="<%= guid %>">
                    <span class="btn btn-default input-group-addon" onclick="$(this).prev().val('#e4e5ea').trigger('change')">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">积分选择</div>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="show_credit1" class="input_binding self_show_sign" value="1" data-type="style" data-key="show_credit1" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_credit1==1){ %>checked<% } %>> 显示
                </label>
				<label class="radio-inline">
                    <input type="radio" name="show_credit1" class="input_binding self_show_sign" value="0" data-type="style" data-key="show_credit1" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_credit1!=1){ %>checked<% } %>> 隐藏
                </label>
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">余额选择</div>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="show_credit2" class="input_binding self_show_sign" value="1" data-type="style" data-key="show_credit2" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_credit2==1){ %>checked<% } %>> 显示
                </label>
				<label class="radio-inline">
                    <input type="radio" name="show_credit2" class="input_binding self_show_sign" value="0" data-type="style" data-key="show_credit2" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_credit2!=1){ %>checked<% } %>> 隐藏
                </label>
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-2 control-label text-right">优惠券选择</div>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="show_coupon" class="input_binding self_show_sign" value="1" data-type="style" data-key="show_coupon" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_coupon==1){ %>checked<% } %>> 显示
                </label>
				<label class="radio-inline">
                    <input type="radio" name="show_coupon" class="input_binding self_show_sign" value="0" data-type="style" data-key="show_coupon" data-name="<%= name %>" data-guid="<%= guid %>" data-toggle="params"  <% if(style.show_coupon!=1){ %>checked<% } %>> 隐藏
                </label>
            </div>
        </div>
</script>

<script type="text/javascript">
	$(document).on('click', '.self_credit_show_background',function () {
	   if ($(this).val()=='0') {
			$(this).parent().parent().parent().next().hide();
		} else {
			$(this).parent().parent().parent().next().show();
		}
	});
</script>