<div class="header-right-top-shortcut ds-none">
	{loop $rightTopMenu $item}
	<li>
		<a href="{$item['url_link']}">
			<span style="background: url({$_W['attachurl']}{$item['menu_icon']}) no-repeat center center;background-size: 15px"></span>
			<strong>{$item['nav_name']}</strong>
		</a>
	</li>
	{/loop}
	<div class="clearfix"></div>
</div>
<div class="white-shade"></div>

<script type="text/javascript">
	$("#right-top-shortcut-menu").click(function(){
		$(".header-right-top-shortcut").toggleClass('ds-none');
		if($(".header-right-top-shortcut").hasClass('ds-none')){
			$(".white-shade").hide();
		}else{
			$(".white-shade").show();
		}
	})
	$(".white-shade").click(function(){
		$(".header-right-top-shortcut").addClass('ds-none');
		$(".white-shade").hide();
	})
</script>