<div class="main">
	<div class="alert alert-warning">
		课程卡密可用来直接开通课程，一个课程卡密仅支持对应一个课程。
	</div>
	<div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="module_name" value="fy_lessonv2" />
                <input type="hidden" name="do" value="market" />
                <input type="hidden" name="op" value="lessonCard" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:100px;">订单编号</label>
                    <div class="col-sm-2 col-lg-3">
                        <input class="form-control" name="ordersn" type="text" value="{$_GPC['ordersn']}">
                    </div>
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" style="width: 100px;">使用者uid</label>
                    <div class="col-sm-2 col-lg-3">
                        <input class="form-control" name="use_uid" type="text" value="{$_GPC['use_uid']}" placeholder="使用用户uid">
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:100px;">卡号ID</label>
                    <div class="col-sm-2 col-lg-3">
                        <input class="form-control" name="id1" type="text" value="{$_GPC['id1']}" style="display:inline-block;width:44%;"> 至 <input class="form-control" name="id2" type="text" value="{$_GPC['id2']}" style="display:inline-block;width:44%;">
                    </div>
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" style="width: 100px;">卡密前缀</label>
                    <div class="col-sm-2 col-lg-3">
                        <input class="form-control" name="prefix" type="text" value="{$_GPC['prefix']}">
                    </div>
                </div>
                <div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" style="width: 100px;">卡密</label>
                    <div class="col-sm-2 col-lg-3">
                        <input class="form-control" name="password" type="text" value="{$_GPC['password']}">
                    </div>
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:100px;">卡密状态</label>
                    <div class="col-sm-8 col-lg-3 col-xs-12">
                        <select name="is_use" class="form-control">
                            <option value="">全部状态</option>
							<option value="0" {if in_array($_GPC['is_use'],array('0'))} selected="selected" {/if}>未使用</option>
							<option value="1" {if $_GPC['is_use'] == 1} selected="selected" {/if}>已使用</option>
							<option value="-1" {if $_GPC['is_use'] == -1} selected="selected" {/if}>已过期</option>
                        </select>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:100px;">使用时间</label>
                    <div class="col-sm-2 col-lg-2">
					{php echo tpl_form_field_daterange('time', array('starttime'=>($starttime ? date('Y-m-d', $starttime) : false),'endtime'=> ($endtime ? date('Y-m-d', $endtime) : false)));}
                    </div>
                    <div class="col-sm-2 col-lg-3">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>&nbsp;&nbsp;
						<button type="submit" name="export" value="1" class="btn btn-success"><i class="fa fa-arrow-down"></i> 导出</button>&nbsp;&nbsp;
						<button type="submit" name="qrcode" value="1" class="btn btn-primary"><i class="fa fa-qrcode"></i> 下载二维码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default">
		<div class="panel-heading">总数：{$total}</div>
        <form action="{php echo $this->createWebUrl('market', array('op'=>'delLessonCard'));}" method="post" class="form-horizontal form">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead class="navbar-inner">
					<tr>
						<th style="width:80px;">全选</th>
						<th style="text-align:center;width:8%;">卡号</th>
						<th style="text-align:center;width:20%;">密钥</th>
						<th style="text-align:center;width:10%;">课程时长</th>
						<th style="text-align:center;width:20%;">对应课程</th>
						<th style="text-align:center;width:13%;">有效期</th>
						<th style="text-align:center;width:8%;">卡状态</th>
						<th style="text-align:center;width:15%;">使用订单号</th>
					</tr>
					</thead>
					<tbody>
					{loop $list $item}
					<tr>
						<td><input type="checkbox" name="ids[]" value="{$item['id']}"></td>
						<td style="text-align:center;">{$item['id']}</td>
						<td style="text-align:center;">{$item['password']}</td>
						<td style="text-align:center;">{$item['cardtime']} 天</td>
						<td style="text-align:center;">{$item['bookname']}</td>
						<td style="text-align:center;">{php echo date('Y-m-d H:i',$item['validity'])}</td>
						<td style="text-align:center;">
							{if $item['is_use'] == 0 && time() > $item['validity']}<span class="label label-default">已过期</span>{/if}
							{if $item['is_use'] == 0 && time() <= $item['validity']}<span class="label label-success">未使用</span>{/if}
							{if $item['is_use'] == 1}<span class="label label-warning">已使用</span>{/if}
						</td>
						<td style="text-align:center;"><a href="{php echo $this->createWebUrl('order', array('keyword'=>$item['ordersn'],'search'=>1));}">{$item['ordersn']}</a></td>
					</tr>
					{/loop}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="8">
								<div style="margin:15px auto;">
									<input type="checkbox" id="checkItems" style="margin-right:10px;">
									<a href="{php echo $this->createWebUrl('market', array('op'=>'addLessonCard'));}" class="btn btn-success"><i class="fa fa-plus"></i> 生成卡密</a>&nbsp;&nbsp;&nbsp;
									<input name="submit" type="submit" class="btn btn-danger" value="批量删除" onclick="return delAll();">
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
				{$pager}
			</div>
		</form>
    </div>
</div>

<script type="text/javascript">
	var ids = document.getElementsByName('ids[]');
	$("#checkItems").click(function(){  
		if (this.checked) {
			for(var i=0;i<ids.length;i++){
				var checkElement=ids[i];
				checkElement.checked="checked";
			}
		}else{  
			for(var i=0;i<ids.length;i++){
				var checkElement=ids[i];  
				checkElement.checked=null;  
			}
		}
	});
	function delAll(){
		var flag = false;
		for(var i=0;i<ids.length;i++){  
			if(ids[i].checked){
				flag = true;
				break;
			}
		}
		if(!flag){  
			util.message("未选中任何卡密", "", "error");
			return false ;
		}
		if(!confirm('该操作无法恢复，确定删除?')){
			return false;
		}

		return true;
	}
</script>