<table class="table table-hover select-member-table mar-b-0">
	<tbody>
		<tr>
			<th>用户uid</th>
			<th>昵称</th>
			<th>姓名</th>
			<th>手机号码</th>
			<th>操作</th>
		</tr>
		{loop $list $row}
		<tr>
			<td>{$row['uid']}</td>
			<td>
				<img src="{$row['avatar']}" style="width:30px;height:30px;padding:1px;border:1px solid #ccc;"/> {$row['nickname']}
			</td>
			<td>{$row['realname']}</td>
			<td>{$row['mobile']}</td>
			<td style="width:80px;">
				<a href="javascript:;" data-nickname="{$row['nickname']}" data-avatar="{$row['avatar']}" data-uid="{$row['uid']}" onclick="selectMember(this);" data-dismiss="modal">选择</a>
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
<span class="hide member_curr_page">{$pindex}</span><span class="hide member_total_page">{$total_page}</span>