<!--
 * 营销管理
 * ============================================================================
 * 版权所有 2015-2020 风影科技，并保留所有权利。
 * 网站地址: https://www.fylesson.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件，未购买授权用户无论是否用于商业行为都是侵权行为！
 * 允许已购买用户对程序代码进行修改并在授权域名下使用，但是不允许对程序代码以
 * 任何形式任何目的进行二次发售，作者将依法保留追究法律责任的权力和最终解释权。
 * ============================================================================
-->

{template 'common/header'}
{template 'web/market/_header'}


{if $op=='display'}
	<!-- 抵扣设置 -->
	{template 'web/market/display'}

{elseif $op=='coupon'}
	<!-- 优惠券列表 -->
	{template 'web/market/coupon'}

{elseif $op=='addCoupon'}
	<!-- 添加优惠券 -->
	{template 'web/market/addCoupon'}

{elseif $op=='couponRule'}
	<!-- 优惠券规则 -->
	{template 'web/market/couponRule'}

{elseif $op=='sendCoupon'}
	<!-- 发放优惠券 -->
	{template 'web/market/sendCoupon'}

{elseif $op=='couponLog'}
	<!-- 优惠券记录 -->
	{template 'web/market/couponLog'}

{elseif $op=='couponDetail'}
	<!-- 优惠券记录详情 -->
	{template 'web/market/couponDetail'}

{elseif $op=='lessonCard'}
	<!-- 课程卡密 -->
	{template 'web/market/lessonCard'}

{elseif $op=='addLessonCard'}
	<!-- 添加课程卡密 -->
	{template 'web/market/addLessonCard'}

{elseif $op=='couponCode'}
	<!-- 课程优惠码 -->
	{template 'web/market/couponCode'}

{elseif $op=='addCouponCode'}
	<!-- 添加课程优惠码 -->
	{template 'web/market/addCouponCode'}

{elseif $op=='discount'}
	<!-- 限时折扣列表 -->
	{template 'web/market/discount'}

{elseif $op=='addDiscount'}
	<!-- 添加限时折扣 -->
	{template 'web/market/addDiscount'}

{elseif $op=='discountLesson'}
	<!-- 限时折扣课程列表 -->
	{template 'web/market/discountLesson'}

{elseif $op=='addDiscountLesson'}
	<!-- 添加限时折扣课程 -->
	{template 'web/market/addDiscountLesson'}

{elseif $op=='signin'}
	<!-- 签到明细 -->
	{template 'web/market/signin'}

{/if}


{template 'common/footer'}