<style type="text/css">
.xing_hui{width: 24px;}
</style>
<div class="main">
	<form method="post" class="form-horizontal form">
        <div class="panel panel-default">
            <div class="panel-heading">评价详情</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单遍号</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{php echo $comment['ordersn'] ? $comment['ordersn'] : '后台评价';}</p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{$comment['title']}</p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称/姓名/手机号码</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
							<img src="{$avatar}" width="35" height="35">
							{$member['nickname']} / {$member['realname']} / {$member['mobile']}
                        </p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">评分</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
							<label>
								<input type="radio" name="score" value="5" <?php if($comment['score']==5){echo 'checked';} ?> /> <span class="label" style="background-color:#FB5B5B;">5分</span>
							</label>
							&nbsp;&nbsp;
							<label>
								<input type="radio" name="score" value="4" <?php if($comment['score']==4){echo 'checked';} ?> /> <span class="label" style="background-color:#FB5B5B;">4分</span>
							</label>
							&nbsp;&nbsp;
							<label>
								<input type="radio" name="score" value="3" <?php if($comment['score']==3){echo 'checked';} ?> /> <span class="label label-warning">3分</span>
							</label>
							&nbsp;&nbsp;
							<label>
								<input type="radio" name="score" value="2" <?php if($comment['score']==2){echo 'checked';} ?> /> <span class="label label-success">2分</span>
							</label>
							&nbsp;&nbsp;
							<label>
								<input type="radio" name="score" value="1" <?php if($comment['score']==1){echo 'checked';} ?> /> <span class="label label-success">1分</span>
							</label>
                        </p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">评价内容</label>
					<div class="col-sm-9">
                        <p class="form-control-static">
							<textarea name="content"  class="form-control" style="width:600px;height:80px;">{$comment['content']}</textarea>
                        </p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">评价图片</label>
					<div class="col-sm-9">
                        <ul class="weui-uploader__files">
							{loop $picture $item}
							<li class="member-answer__file">
								<img src="{$_W['attachurl']}{$item}">
							</li>
							{/loop}
						</ul>
                    </div>
                </div>
                <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">处理状态</label>
					<div class="col-sm-9">
						<p class="form-control-static">
							<label>
								<input type="radio" name="status" value="0" <?php if($comment['status']==0){echo 'checked';} ?> />
								<span class="label label-primary" style="vertical-align:text-top;">待审核</span>
							</label>
							&nbsp;&nbsp;
							<label>
								<input type="radio" name="status" value="1" <?php if($comment['status']==1){echo 'checked';} ?> />
								<span class="label label-success" style="vertical-align:text-top;">已审核</span>
							</label>
							&nbsp;&nbsp;
							<label>
								<input type="radio" name="status" value="-1" <?php if($comment['status']==-1){echo 'checked';} ?> />
								<span class="label label-default" style="vertical-align:text-top;">审核未通过</span>
							</label>
						</p>
					</div>
				</div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">回复内容</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
							<textarea name="reply"  class="form-control" style="width:600px;height:100px;">{$comment['reply']}</textarea>
                        </p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9">
						<input type="hidden" name="id" value="{$id}" />
						<input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="submit" name="submit" class="btn btn-primary" value="提交回复" />
                    </div>
                </div>
            </div>
        </div>
	</form>
</div>

<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/public/zoomify/zoomify.min.css?v={$versions}">
<script type="text/javascript" src="{MODULE_URL}static/public/zoomify/zoomify.min.js?v={$versions}"></script>
<script type="text/javascript">
	$('.member-answer__file img').zoomify();
</script>